@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body, * {
  -webkit-app-region: drag;
  margin: 0px;
  padding: 0px;
}

.no-drag {
	-webkit-app-region: no-drag;
}

*:focus {
  outline: none;
}

textarea:focus, input:focus{
  outline: none;
}

body {
	background: radial-gradient(circle,hsl(166, 50%, 8%), hsl(166, 50%, 6%), hsl(166, 50%, 4%));
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
